name: Retrain Model

on:
  push:
    branches:
      - main

jobs:
  retrain:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          activate-environment: false

      - name: Create environment
        run: conda env create -f MLProject/conda.yaml

      - name: Run MLflow Project
        run: conda run -n churn_ml mlflow run MLProject
